*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,Arial,sans-serif;
}

:root{

    --bg:#050608;
    --sidebar:#111214;
    --card:#17181c;
    --border:#26282d;
    --text:#ffffff;
    --gray:#9ca3af;
    --orange:#ff7a1a;
    --hover:#22252b;

}

body{

    background:var(--bg);
    color:var(--text);

}

a{

    text-decoration:none;
    color:inherit;

}

button{

    cursor:pointer;

}

input{

    outline:none;

}